.ad
  .ad__sentence
    誰でもかんたん、人生を変えるフリマアプリ
  .ad__download
    今すぐ無料ダウンロード！
  .ad__store
    = link_to '#'  do
      = image_tag '/images/material/logo/apple_store.png', class:'ad__store__apple'
    = link_to '#' do
      = image_tag '/images/material/logo/google_play.png', class:'ad__store__google'