.ad
  .ad__sentence
    誰でもかんたん、人生を変えるフリマアプリ
  .ad__download
    今すぐ無料ダウンロード！
  .ad__store
    %a(href="#")
      = image_tag 'material/logo/apple_store.png', class:'ad__store__apple'
    %a(href="#")
      = image_tag 'material/logo/google_play.png', class:'ad__store__google'