.reason
  .titile
  .bar
  .cards
    .card1
      .card1__photo
        .card1__photo--number
      .card1--head
      .card1--text
    .card2
      .card2__photo
        .card2__photo--number
      .card2--head
      .card2--text
    .card3
      .card3__photo
        .card3__photo--number
      .card3--head
      .card3--text