.reason
  .titile
    %h1
      FURIMAが選ばれる3つの理由
    .bar
  .cards
    .card1
      .card1__photo
        = image_tag "material/pict/pict-reason-01.jpg"
        .card1__photo--number
          1
      .card1--head
        ３分ですぐに出品
      .card1--text
        スマホで入力するだけで簡単に出品できる！
    .card2
      .card2__photo
        = image_tag "material/pict/pict-reason-02.jpg"
        .card2__photo--number
          2
      .card2--head
        シンプル で使いやすい
      .card2--text
        めんどくさい入力は必要なく、検索も購入もスムーズ！
    .card3
      .card3__photo
        = image_tag "material/pict/pict-reason-02.jpg"
        .card3__photo--number
          3
      .card3--head
        手数料 業界最安
      .card3--text
        最大3%でお得に出品&購入！