.reason
  .reason__title
    FURIMAが選ばれる3つの理由
    .reason__bar
  .reason__cards
    .reason__card
      .reason__card--photo
        = image_tag "material/pict/pict-reason-01.jpg",class:"reason__card--photo"
      .reason__card--number
        1
      .reason__card--head
        ３分ですぐに出品
      .reason__card--text
        スマホで入力するだけで簡単に出品できる！
    .reason__card
      .reason__card--photo
        = image_tag "material/pict/pict-reason-02.jpg",class:"reason__card--photo"
      .reason__card--number
        2
      .reason__card--head
        シンプル で使いやすい
      .reason__card--text
        めんどくさい入力は必要なく、検索も購入もスムーズ！
    .reason__card
      .reason__card--photo
        = image_tag "material/pict/pict-reason-03.jpg",class:"reason__card--photo"
      .reason__card--number
        3
      .reason__card--head
        手数料 業界最安
      .reason__card--text
        最大3%でお得に出品&購入！