.title
  .title__box
    .title__box__sentence
      人生を変えるフリマアプリ
    .title__box__letter
      .title__box__furima
        FURIMAはだれでもかんたんに出品・購入できる
      .title__box__app
        フリマアプリです
    .title__box__store
      %a(href="#")
        = image_tag 'material/logo/apple_store.png', class:'apple'
      %a(href="#")
        = image_tag 'material/logo/google_play.png', class:'google'