.type
  .type__title
    FURIMAの特徴
  .type__bar
    .type__bar--line
  .type__cards
    .type__card
      .type__card--photo
        = image_tag "material/icon/icon-01.png",class:"type__card--photo"
      .type__card--number
        1
      .type__card--head
        簡単に売り買いできる
      .type__card--text
        スマホ一つで、いつでもどこでも簡単に出品・購入が可能！
    .type__card
      .type__card--photo
        = image_tag "material/icon/icon-03.png",class:"type__card--photo"
      .type__card--number
        2
      .type__card--head
        売上金は即日振り込みに対応
      .type__card--text
        午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
    .type__card
      .type__card--photo
        = image_tag "material/icon/icon-04.png",class:"type__card--photo"
      .type__card--number
        3
      .type__card--head
        様々な支払いに対応

      .type__card--text
        お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

