.pickup-product
  ピックアップカテゴリー
  .pickup-product__main
    = link_to "/", class: "link-btn" do
      新規投稿商品
    .product-lists
      .product-list
        = link_to new_user_registration_path, class:"product-link" do
          .product-link__image
            = image_tag(src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png", class: "product-image")
          .product-link__description
            .product-name
              product3
            .product-cost
              %ul{class: "product-cost__list"}
                %li
                  30000円
                %li{class: "like-btn"}
                  ⭐️0
            .product-tax
              (税込み)

                  
                    


