.sign-footer{
  width: 100vw;
  background-color: #272727;
  &-box{
    width: 400px;
    margin: 0 auto;
    padding: 40px 0px;
    .clearfix{
      display: flex;
      justify-content: space-between;
      a{
        display: block;
        font-size: 12px;
        color: $text-color-white;
      }
      @include hover;
    }
    .footer-image{
      height: 62px;
      width: 214px;
      color:#333;
      display: block;
      margin: 40px auto 0;
    }
    .footer-text{
      color:$text-color-white;
      text-align: center;
    }
  }
}
