*{
  box-sizing: border-box;
}

@import "sign_footer";

$theme-color: #3CCACE;
@mixin input($width: 400px) {
  font-size: 16px;
  width: $width;
  padding: 10px 16px;
  margin: 8px 0 30px 0;
  border: 1px solid #a9a9a9;
  border-radius: 4px;
}

@mixin text-constraint(){
  display: inline;
  color: #fff;
  padding: 2px 4px;
  margin-left: 8px;
  border-radius: 2px;
}

.hover{
  text-decoration: none;
}
.hover:hover{
  text-decoration: underline;
}

.sign{
  &-header{
    text-align: center;
    margin-top: 40px;
  }
  &-main{
    width: 500px;
    margin: 0 auto;
    padding: 20px 50px 30px;
    &-box{
      margin-bottom: 50px;
      &__title{
        font-size: 28px;
        text-align: center;
        border-bottom: 1px solid;
        margin-bottom: 20px;
      }
      .field{
        &__text{
          font-size: 18px;
          margin-bottom: 8px;
        }
        &__text-constraint{
          background-color: red;
          @include text-constraint;
        }
        &__text-constraint--blue{
          background-color: blue;
          @include text-constraint;
        }
        &__input{
          @include input;
        }
        &-box{
          display: flex;
          justify-content: space-between;
          &__input{
            @include input(194px);
          }
        }
      }
    }
    &-box-last{
      margin-bottom: 0;
    }
    .actions{
      background-color: $theme-color;
      font-size: 16px;
      line-height: 48px;
      width: 100%;
      margin-top: 36px;
      border: none;
      cursor: pointer;
    }
    .shared-links{
      margin-top: 20px;
      .link{
        font-size: 18px;
        color: $theme-color;
      }
    }
  }
}
