.footer
  .footer-box
    .clearfix
      = link_to "プライバシーポリシー", "#", class: "hover"
      = link_to "FURIMA利用規約", "#", class: "hover"
      = link_to "ポイントに関する特約", "#", class: "hover"
    %a{href: root_path, class:"footer-image"}
      =image_tag "logo-white-f61961ed5170064c5f33dd4524bdceeb5a5df2c83eb76fba31143f63fbab2c5e.svg"
    %p{class: "footer-text"}©︎FURAMA
