.left_content
  %table
    %label
      %tr
        %td{id:"mypage-td"}
          =link_to user_path(current_user) ,class:"table-link" do
            マイページ
            %i{class:"fas fa-chevron-right",id:"mypage-arrow"}
            //ホバーした時の効果はまとめて定義する
    %tr      
      %td
        出品する
    %tr
      %td
        いろいろある
    %tr
      %td
        購入した商品 -取引中
    %tr  
      %td
        いろいろある -過去の取引

  .table_title
    設定
  %table      
    %tr
      %td
        プロフィール
    %tr
      %td
        発送元・お届け住所変更
    %tr  
      %td
        お支払い方法
    %tr  
      %td
        メール/パスワード
    %tr  
      %td
        =link_to logout_user_path(current_user) ,class:"table-link" do
          ログアウト
