.right_content
  .picture
    .picture_icon
      = image_tag src="material/icon/member_photo_noimage_thumb", class:"picture_icon_img"
      .user_name ユーザーネーム
      .user_score 出品 評価

  .product_buy
    .text 購入した商品
    .tab_wrap
      %input#tab1{checked: "checked",name: "tab_btn",type: "radio"}/
      %input#tab2{name: "tab_btn",type: "radio"}/
      .tab_area
        %label.tab1_label{for: "tab1"} 取引中
        %label.tab2_label{for: "tab2"} 過去の取引
      .panel_area
        #panel1.tab_panel
          .first_product
            =link_to "#",class:"abc" do
              = image_tag src="material/icon/icon-01", class:"produck_icon_img"
              .product_text
                .product_text_name 商品名
                .product_text_price 金額
                .product_text_condition 
                  %i.fas.fa-star 
                  %i.far.fa-comment-alt
          -# .second_product
          -#   = image_tag src="material/icon/icon-02", class:"produck_icon_img"
          -#   %p 商品名
        #panel2.tab_panel
          -# .first_product
          -#   = image_tag src="material/icon/icon-03", class:"produck_icon_img"
          -#   %p 商品名
          
 


