.left_content
  %table
    %label
      %tr{id:"mypage-tr"}
        %td{id:"mypage-td"}
          =link_to user_path(current_user), class:"table-link" do
            マイページ
            %i{class:"fas fa-chevron-right",id:"mypage-arrow"}
      %tr      
        %td{id:"mypage-td"}
          =link_to new_product_path, class:"table-link" do
            出品する
            %i{class:"fas fa-chevron-right",id:"mypage-arrow"}
    %tr
      %td{id:"mypage-td"}
        =link_to bought_user_path, class:"table-link" do
          購入した商品
          %i{class:"fas fa-chevron-right",id:"mypage-arrow"}
    %tr  
      %td{id:"mypage-td"}
        =link_to solded_user_path, class:"table-link" do
          販売した商品
          %i{class:"fas fa-chevron-right",id:"mypage-arrow"}

  .table_title
    設定
  %table      
    %tr  
      %td{id:"mypage-td"}
        =link_to cards_path ,class:"table-link" do
          お支払い方法/クレジットカード登録
          %i{class:"fas fa-chevron-right",id:"mypage-arrow"}
    %tr
      %td{id:"mypage-td"}
        = link_to edit_address_path(@addresses),class:"table-link" do
          発送元・お届け住所変更
          %i{class:"fas fa-chevron-right",id:"mypage-arrow"}
    %tr  
      %td{id:"mypage-td"}
        =link_to edit_user_registration_path ,class:"table-link" do
          登録情報編集
          %i{class:"fas fa-chevron-right",id:"mypage-arrow"}
    %tr  
      %td{id:"mypage-td"}
        =link_to logout_user_path(current_user) ,class:"table-link" do
          ログアウト
          %i{class:"fas fa-chevron-right",id:"mypage-arrow"}
