.left_content
  %table
    %tr
      %td
        マイページ
        %i{class:"fas fa-chevron-right"}
        //ホバーした時の効果はまとめて定義する
    %tr      
      %td
        出品する
    %tr
      %td
        いろいろある
    %tr
      %td
        いろいろある
    %tr  
      %td
        いろいろある

  .table_title
    設定
  %table      
    %tr
      %td
        いろいろある
    %tr
      %td
        いろいろある
    %tr  
      %td
        いろいろある