.left_content
  %table
    %tr
      %td
        マイページ
        .icon
          >
        //iconの部分をmixinなどでクラス付与のみで目的としたオプジェクトを配置できるようにしてみる？bootstrapみたいに。
    %tr      
      %td
        出品する
    %tr
      %td
        いろいろある
    %tr
      %td
        いろいろある
    %tr  
      %td
        いろいろある

  .table_title
    設定
  %table      
    %tr
      %td
        いろいろある
    %tr
      %td
        いろいろある
    %tr  
      %td
        いろいろある