.left_content
  %table
    %tr
      %td
        マイページ
        .icon
          >
    %tr      
      %td
        出品する
    %tr
      %td
        いろいろある
    %tr
      %td
        いろいろある
    %tr  
      %td
        いろいろある
  %table
    %tr
      %th
        設定
    %tr
      %td
        いろいろある
    %tr
      %td
        いろいろある
    %tr  
      %td
        いろいろある