- if address.errors.any?
  - unless address.valid?
    - if errors = address.errors.full_messages_for(column.to_sym)
      %ul
        - errors.each do |error|
          %li{class: "error-message"}=error