.header {
  padding: 15px 60px;
  max-width: 1040px;
  width: 100%;
  min-height: 82px;
  margin: 0 auto;
  .main {
    position: relative;
    display: flex;
    align-items: center;
    .header_icon {
      display: block;
      padding-bottom: 10px;
      margin-right: 30px;
      border-radius: 4px;
      @include hover_opacity;
    }
    .main-searchBox{
      width: 82%;
      .search-form {
        margin-left: auto;
        width: 100%;
        display: flex;
        .search-input {
          width: 100%;
          padding: 0 0 0 5px;
          
        }
        .search-btn {
          width:20%;
          font-size: medium;
          font-weight: bold;
          border: 0;
          cursor: pointer;
          background-color: $mainThemeColor;
          position: relative;
          @include hover_opacity;
        }
      }
    }
  }
  .nav {
    font-size: 14px;
    display: flex;
    margin-bottom: 10px;
    .right-list {
      margin-left: auto;
      display: flex;
      a {
        color: #333;
        text-decoration: none;
        line-height: 32px;
        @include hover_opacity;
      }

      .right-list__new {
        margin-left: 16px;
      }

      .right-list__mine{
        margin-right: 16px;
      }
    }
  }
}
