.signin{
  &-header{
    text-align: center;
    margin-top: 40px;
  }
  &-form{
    width: 400px;
    margin: 0 auto;
    padding: 20px 50px 30px;
    &-title{
      font-size: 28px;
      text-align: center;
      border-bottom: 1px solid;
      margin-bottom: 20px;
    }
    .field{
      &__text{
        display: block;
        font-size: 18px;
        margin-bottom: 8px;
      }
      &__input{
        font-size: 16px;
        width: 364px;
        padding: 10px 16px;
        margin-bottom: 30px;
        border: 1px solid #a9a9a9;
        border-radius: 4px;
      }
    }
    .actions{
      background-color: #3CCACE;
      font-size: 16px;
      line-height: 48px;
      width: 100%;
      margin-top: 36px;
      border: none;
      cursor: pointer;
    }
    .shared-links{
      margin-top: 20px;
      .link-signin{
        font-size: 18px;
        color: #3CCACE;
        text-decoration: none;
      }
      .link-signin:hover{
        text-decoration: underline;
      }
      .link-password{
        font-size: 18px;
        color: #3CCACE;
        text-decoration: none;
      }
      .link-password:hover{
        text-decoration: underline;
      }
    }
  }
  &-footer{
    width: 100vw;
    background-color: #272727;
    &-box{
      width: 400px;
      margin: 0 auto;
      padding: 40px 0px;
      .clearfix{
        display: flex;
        justify-content: space-between;
        & > a{
          font-size: 12px;
          color: #fff;
          text-decoration: none;
        }
        & > a:hover{
          text-decoration: underline;
        }
      }
      .footer-image{
        height: 62px;
        width: 214px;
        color:#333;
        display: block;
        margin: 40px auto 0;
      }
      .footer-text{
        color:#fff;
        text-align: center;
      }
    }
  }
}