*{
  box-sizing: border-box;
}
.hover{
  text-decoration: none;
}
.hover:hover{
  text-decoration: underline;
}

.signin{
  &-header{
    text-align: center;
    margin-top: 40px;
  }
  &-form{
    width: 500px;
    margin: 0 auto;
    padding: 20px 50px 30px;
    &-title{
      font-size: 28px;
      text-align: center;
      border-bottom: 1px solid;
      margin-bottom: 20px;
    }
    .field{
      &__text{
        display: block;
        font-size: 18px;
        margin-bottom: 8px;
      }
      &__input{
        font-size: 16px;
        width: 400px;
        padding: 10px 16px;
        margin-bottom: 30px;
        border: 1px solid #a9a9a9;
        border-radius: 4px;
      }
    }
    .actions{
      background-color: #3CCACE;
      font-size: 16px;
      line-height: 48px;
      width: 100%;
      margin-top: 36px;
      border: none;
      cursor: pointer;
    }
    .shared-links{
      margin-top: 20px;
      .link-signin{
        font-size: 18px;
        color: #3CCACE;
      }
      .link-password{
        font-size: 18px;
        color: #3CCACE;
      }
    }
  }
}