.signin{
  &-header{
    text-align: center;
    margin-top: 40px;
  }
  &-form{
    width: 400px;
    margin: 0 auto;
    padding: 20px 50px;
    .field{
      &__text{
        display: block;
        font-size: 20px;
        text-align: center;
      }
      &__input{
        font-size: 16px;
        width: 364px;
        padding: 10px 16px;
        margin-bottom: 20px;
      }
    }
    .actions{
      background-color: #3CCACE;
      font-size: 16px;
      line-height: 48px;
      width: 100%;
    }
  }
}