.signup {
  &-header{
    text-align: center;
    margin-top: 40px;
  }
  &-form {
    width: 400px;
    margin: 0 auto;
    padding: 20px 50px;
    &-box{
      margin-bottom: 50px;
      &__title{
        font-size: 28px;
        text-align: center;
        border-bottom: 1px solid;
        margin-bottom: 20px;
      }
      .field{
        &__text{
          font-size: 18px;
          margin-bottom: 8px;
        }
        &__text-setting{
          display: inline;
          color: #fff;
          background-color: red;
          padding: 2px 4px;
          margin-left: 8px;
          border-radius: 2px;
        }
        .setting-blue{
          background-color: blue;
        }
        &__input{
          font-size: 16px;
          width: 364px;
          padding: 10px 16px;
          margin: 8px 0 30px 0;
          border: 1px solid #a9a9a9;
          border-radius: 4px;
        }
        .field-box{
          display: flex;
          justify-content: space-between;
          // width: 364px;
          &__input{
            font-size: 16px;
            width: 160px;
            padding: 10px 16px;
            margin: 8px 0 30px 0;
            border: 1px solid #a9a9a9;
            border-radius: 4px;
          }
        }
      }
    }
    &-box-last{
      margin-bottom: 0;
    }
    .actions{
      background-color: #3CCACE;
      font-size: 16px;
      line-height: 48px;
      width: 100%;
      margin-top: 36px;
      cursor: pointer;
    }
    .link-signup{
      display: block;
      margin-top: 30px;
      color: #3CCACE;
      text-decoration: none;
    }
    .link-signup:hover{
      text-decoration: underline;
    }
  }
}




