.singup {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  &-form {
    width: 400px;
    padding: 20px;
    display: block;
    margin: 0 auto;
    .user-register  {
      border:inset 5px #3ccace;
    }
    .user-ditail  {
      border:inset 5px #3ccace;
    }
    .send-imfomation  {
      border:inset 5px #3ccace;
    }
  }
  &-footer  {
  }
}



