.notification {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100vw;
  .notice {
    padding: 20px;
    font-size: 20px;
    background-color: $mainThemeColor;
    color:$mainWhite;
    text-align: center;
  }

  .alert {
    padding: 20px;
    font-size: 20px;
    background-color: $mainRed;
    color:$mainWhite;
    text-align: center;
  }
}