-# .contents
-#   = render '/products/contents/'
-#   = render '/products/contents/'
-#   = render '/products/contents/'
-#   = render '/products/contents/'
-#   = render '/products/contents/'
-#   = render '/products/contents/'
