.contents
  -# = render 'contents/'
  -# = render 'contents/'
  -# = render 'contents/'
  -# = render 'contents/'
  = render '/products/contents/pickup/category'
  = render '/products/contents/pickup/brand'
  -# = render 'contents/'
  