.wrapper
  = render partial: 'header'
.header-bottom
  %ul
    %li
      FURiMA>
    %li
      ヘビー・キッズ>
    %li
      ベビー服（男女兼用）〜９５cm>
    %li
      アウター>
    %li
      product3
.show-main
  .show-main__box
    .product-content
