@mixin soldout-exhibition(){
  position: absolute;
  top: 15px;
  left: -5px;
  .soldout-label{
    height: 224%;
    width: 110%;
    color: red;
    font-size: 20px;
    font-weight: bold;
    transform:rotate(-45deg);
  }
}
//使用の際は親クラスにposition relativeをいれる