//使用の際は親クラスにposition relativeをいれる
@mixin soldout-exhibition(){
  position: absolute;
  top: 20px;
  left: -3px;
  .soldout-label{
    height: 224%;
    width: 110%;
    color: red;
    font-size: 20px;
    font-weight: bold;
    transform:rotate(-45deg);
    text-shadow:1px 1px 0 $mainWhite, 
                -1px -1px 0 $mainWhite,
                -1px 1px 0 $mainWhite,
                1px -1px 0 $mainWhite,
                0px 1px 0 $mainWhite,
                0-1px 0 $mainWhite
  }
}